<h1>AWE Benutzerverwaltung</h1>
<p>Hallo das ist die Benutzerverwaltung, die im Rahmen von AWE entstanden ist!</p>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.submit "Einloggen", class: "btn btn-large btn-primary" %>
    <% end %>

    <p>New user? <%= link_to "Registrieren", signup_path %></p>
  </div>
</div>