<h2><%= resource_name.to_s.humanize %> bearbeiten</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
	<%= f.input :name %>
	<%= f.input :apartmentnumber %>
	<%= f.input :email, :required => true, :autofocus => true, label:"Email" %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, :autocomplete => "off", :hint => "Freilassen, wenn du dein Passwort nicht ändern möchtest", :required => false, label:"Passwort" %>
    <%= f.input :password_confirmation, :required => false, label:"Passwort wiederholen" %>
    <%= f.input :current_password, :hint => "Aktuelles Passwort benötigt, um die Änderungen zu bestätigen", :required => true, label:"Aktuelles Passwort" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Aktualiseren" %>
  </div>
<% end %>

<h3>Account kündigen</h3>

<%= link_to "Account löschen", registration_path(resource_name), :data => { :confirm => "Bist du sicher?" }, :method => :delete %>
</br>
<%= link_to "Zurück", :back %>
