<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
			<% if session[:user] %>
			<li></li>
			<li><%= link_to 'Projekte', projects_path%></li>
			<li><%= link_to 'Gruppen', groups_path%></li>
			<li><%= link_to 'Mitglieder', users_path%></li>
			<li><%= link_to 'Edit', edit_user_path(session[:user])%></li>
			<li><%= link_to "Ausloggen (#{session[:user].name})", signout_path, method: "delete"%></li>
			<%else%>
			<li><%= link_to "Registrieren", signup_path %></li>
			<li><%= link_to "Einloggen", signin_path %></li>
			<% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>