<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hallo, <%= @user.name %></p>
    <p>
      Dein Auftrag: "<%= @program.name %>" fuer das Geraet: "<%= @device.name %>" wird jetzt gestartet und um "<%= @job.start + @program.duration_in_min.minute %> fertig sein.<br/>
    </p>
	<p>
	  Unter folgendem Link gelangst du zur Solarwash-Seite: <a href="<%= @url %>">Solarwash</a>.
	</p>
    <p>Einen schoenen Tag wuenscht dir Solarwash!</p>
  </body>
</html>