<table class="table">
	<tr>
	    <th>Programm</th>
	    <th>Startzeit</th>
		<th>Geschätzte Endzeit</th>
		<th>Fertig bis spätestens</th>
	</tr>

	<% Job.all.each do |job| %>
	  	<% if device_id == job.device_id && job.finished == 0%>
			<tr>
	    		<td><%= Program.find(job.program_id).name %></td>
				<td><% if format_start_time(job).is_a?(Fixnum) %>
					<div class="progress progress-striped active">
					  <div class="bar" style= <%= "width: 50;"%>></div>
					</div> 
					<% else %>
					<%= format_start_time(job) %>
					<% end %> </td>
				<td><%= job.start + Program.find(job.program_id).duration_in_min.minute%></td>
				<td><%= job.end_of_timespan %></td>
			</tr>
		<% end %>
	<% end %>
</table>