<table class="table table-condensed">
	<thead>
	<tr>
		<th></th>
		<th>Auftrag- geber</th>
	  <th>Programm</th>
	  <th>Startzeit</th>
	  <th>Fortschritt</th>
		<th>Geschätzte Endzeit</th>
		<th></th>
		<th></th>
	</tr>
	</thead>
	<% Job.all.each do |job| %>
	  	<% if device_id == job.device_id && job.finished == 0%>
			<tbody>
			<tr <% if owner?(job) && !is_running?(job) %> data-provides="rowlink" <%end %>>
				<td>
					<% if owner?(job) && !is_running?(job) %>
          	<%= link_to "", edit_device_job_path(Device.find(job.device_id), job) %>
          <% end %>
        </td>
				<td>
					<%= "#{User.find(job.user_id).name}" %>
				</td>
	    	<td>
	    		<%= Program.find(job.program_id).full_name %>
	    	</td>
	    	<td>
					<%= l(job.start, :format => '%H:%M') %>
				</td>
				<td>
					<%= format_start_time(job) %>
				</td>				
				<td><%= l(job.start + Program.find(job.program_id).duration_in_min.minute,
							:format => '%a, %d.%m - %H:%M')%></td>
				<% if owner?(job) && has_to_be_confirmed(Device.find(job.device_id), job) %>
					<td class="nolink"><%= link_to 'Bereit'.html_safe,
							device_job_update_confirm_path(Device.find(job.device_id), job),
							class: "btn btn-info novisit",
							:confirm => "Bist du wirklich bereit für den Vorgang von #{Device.find(job.device_id).name}?",
							:method => :put %></td>
				<% end %>
				<td class="nolink"><% if owner?(job) && !is_running?(job)%>
						<%= link_to "Löschen", 
						[Device.find(job.device_id), job],
						class: "btn btn-inverse novisit",
				 		:confirm => "Bist du sicher?",
						:method => :delete %>
					<% end %></td>
			</tr>
			</tbody>
		<% end %>
	<% end %>
</table>