<table class="table table-condensed">
	<thead>
	<tr>
	  <th>Programm</th>
	  <th>Startzeit</th>
		<th>Geschätzte Endzeit</th>
		<th></th>
		<th></th>
	</tr>
	</thead>
	<% Job.all.each do |job| %>
	  	<% if device_id == job.device_id && job.finished == 0%>
			<tbody>
			<tr>
	    		<td><%= Program.find(job.program_id).name %></td>
				<td><% if format_start_time(job).is_a?(String) %>
					<div class="progress progress-striped active">
					  <div class="bar" style= "<%= format_start_time(job) %>"></div>
					</div> 
					<% else %>
					<%= l(format_start_time(job), :format => '%a, %d.%m - %H:%M') %>
					<% end %> </td>
				<td><%= l(	job.start + Program.find(job.program_id).duration_in_min.minute,
							:format => '%a, %d.%m - %H:%M')%></td>
				<% if has_to_be_confirmed(Device.find(job.device_id), job) %>
					<td><%= link_to 'Bereit'.html_safe,
							device_job_update_confirm_path(Device.find(job.device_id), job),
							class: "btn btn-info novisit ",
							:confirm => "Bist du wirklich bereit fuer den Vorgang von #{Device.find(job.device_id).name}?",
							:method => :put %></td>
				<% end %>
				<td><%= link_to "Löschen", 
						[Device.find(job.device_id), job],
						class: "btn btn-inverse novisit ",
				 		:confirm => "Bist du sicher?", :method => :delete %></td>
			</tr>
			</tbody>
		<% end %>
	<% end %>
</table>