<h1>Übersicht</h1>

<a href="#" id="example" data-toggle="popover" data-placement="top" title="fff" data-original-title="Tooltip on top">Tooltip on top</a>

<div class="row-fluid">
<% @devices.each_with_index do |device, index| %>
    <%if (index%2==0) %><div class="row-fluid"><% end %>
    <div class="span6 device_tile">
      <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10">
            <h3>
              <%= type_title(device.devicetype) %>
              <i class="<%= state_image(device.state) %>"><a title="bla"></a></i>
            </h3>
            <h3><%= device.name %></h3>            
            
            <%= link_to '<i class="icon-plus icon_baseline"></i> Neuer Auftrag'.html_safe, new_device_job_path(device), class: "btn btn-inverse novisit ", title: "Neuer Auftrag" %>

            <% @job = device.jobs.new %>            
            <%= link_to '<i class="icon-plus icon_baseline"></i> Neuer Auftrag (pop)'.html_safe, "#", title: "Neuer Auftrag", :rel => "popover", :"data-content" => "#{render 'jobs/form', :job => @job}", class: "btn btn-inverse novisit pop"%>
            <script>
              $('.pop').popover({ html : true});
            </script>

          </div>
          <div class="span2"> 
            <i class="<%= type_icon(device.devicetype) %> icon-4x icon_devicetype"></i>
          </div>  
        </div>
      </div>
      <div class="container-fluid">
       <%= render 'joblist', :device_id => device.id %>
      </div>
    </div>

    <%if (index%2==1)%>
      </div>
      <div class="span12"> </div>
    <% end %>
  <% end %>
</div>