<div>
<h1>Übersicht</h1>

<div class="row-fluid">
<% @devices.each_with_index do |device, index| %>
    <%if (index%2==0) %><div class="row-fluid"><% end %>
    <div class="span6 device_tile">
      <div class="container-fluid">
        <div class="row-fluid">
            <div class="span10">
            <h3>
              <%= type_title(device.devicetype) %>
              <i <%= state_image(device.state) %> ></i>
            </h3>
            <h3><%= device.name %></h3>            

            <%= link_to '<i class="icon-plus icon_baseline"></i> Neuer Auftrag'.html_safe, new_device_job_path(device), class: "btn btn-inverse novisit ", title: "Neuer Auftrag" %>

          </div>
          <div class="span2"> 
            <i <%= type_icon(device.devicetype) %> ></i>
          </div>  
        </div>
      </div>
      <div class="container-fluid overflow">
       <%= render 'joblist', :device_id => device.id %>
      </div>
    </div>

    <%if (index%2==1)%>
      </div>
      <div class="span12"> </div>
    <% end %>
  <% end %>
</div>

<script>
  $(document).ready(function() {
    $('[rel=popover]').popover({'trigger':'hover'});
  });
</script>