<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @device.name %>
</p>

<p>
  <b>Typ:</b>
  <%= @device.devicetype %>
</p>

<p>
  <b>Zustand:</b>
  <%= @device.state %>
</p>


<%= link_to 'Bearbeiten', edit_device_path(@device) %> |
<%= link_to 'Zurück', devices_path %>
