= simple_form_for @job, html: {class: 'form-horizontal'} do |f|
  %h3
    für das Gerät:
    = Device.find(dev_id).name

  = f.hidden_field :device_id, :device_id => dev_id
  = f.hidden_field :user_id, :user_id => 1 # TODO tatsaechliche User_ID nehmen
  = f.input :program_id
  = f.input :finished
  = f.input :start_of_timespan
  = f.input :end_of_timespan
  = f.full_error :token

  .form-actions
    = f.button :submit, class: 'btn-primary'
