= simple_form_for [@job.device, @job], html: {class: 'form-horizontal'} do |f|
  = f.hidden_field :user_id, :value => current_user.id
  = f.input :program_id, collection: @job.device.programs, label:"Programm", :label_method => lambda { |program| "#{program.full_name_degree}#{program.full_duration}"  }, :value_method => :id
  = f.hidden_field :finished, :value => 0
  = f.hidden_field :start_of_timespan, :value => DateTime.now
  = f.input :end_of_timespan, :as => :ui_date_time_picker, label:"Fertig bis sp채testens", hint: "Frei lassen f체r fr체heste Endzeit. Falls manuelle Eingabe gew체nscht: im Format 01.03.2013 12:00"
  -if @job.device.state == 0
    = f.input :confirm, as: :radio_buttons, label:"#{clothes_inside(@job.device.devicetype)}", :checked => setDefaultConfirm(@job.device.state)

  .form-actions
    = f.button :submit, "Auftrag erstellen", class: 'btn-primary'
    