- flash.each do |key, value|
  %div{:class => "alert alert-#{key}"}= value
= simple_form_for [@job.device, @job], html: {class: 'form-horizontal'} do |f|

  = f.hidden_field :user_id, :value => 1 # TODO tatsaechliche User_ID nehmen
  = f.input :program_id, collection: @job.device.programs, label:"Programm"
  = f.hidden_field :finished, :value => 0

  = f.hidden_field :start_of_timespan, :value => DateTime.now # TODO immer aktuelle Zeit
  = f.input :end_of_timespan, :as => :ui_date_time_picker, label:"Fertig bis spätestens", :value => DateTime.now
  = f.input :confirm, as: :radio_buttons, label:"Wäsche in der Waschmaschine?", :checked => setDefaultConfirm(@job.device.state)
  = f.full_error :token

  .form-actions
    = f.button :submit, "Auftrag erstellen", class: 'btn-primary'
