<table class="table">
  <tr>
    <th>Gerät</th>
    <th>Programm</th>
    <th>Auftrag eingestellt</th>
    <th>Startzeit</th>
    <th><% if !old_jobs %>
	Geschätzte Endzeit
		<%else%>
		Endzeit
		<%end%>
	</th>
  </tr>

  <% Job.all.each do |job| %> 
    <% if owner?(job) && ((old_jobs && job.finished == 1) || (!old_jobs && job.finished == 0)) %>
      <tr>
        <td><%= Device.find(job.device_id).name %></td>
        <td><%= Program.find(job.program_id).name %></td>      
        <td><%= l(job.start_of_timespan, :format => '%a, %d.%m - %H:%M') %></td>
        <td><% if format_start_time(job).is_a?(String) %>
          <div class="progress progress-striped active">
            <div class="bar" style= "<%= format_start_time(job) %>"></div>
          </div> 
          <% else %>
          <%= l(format_start_time(job), :format => '%a, %d.%m - %H:%M') %>
          <% end %> </td>
        <td><%= l(  job.start + Program.find(job.program_id).duration_in_min.minute,
              :format => '%a, %d.%m - %H:%M')%></td>
      </tr>
    <% end %>
  <% end %>

</table>