<p id="notice"><%= notice %></p>

<h1>Auftrag</h1>

<p>
  <b>Gerät:</b>
  <%= Device.find(@job.device_id).name %>
</p>

<p>
  <b>Auftraggeber:</b>
  <%= @job.user_id %>
</p>

<p>
  <b>Programm:</b>
  <%= Program.find(@job.program_id).name %>
</p>

<p>
  <b>Status:</b>
  <%= @job.finished %>
</p>

<p>
  <b>Auftrag eingestellt:</b>
  <%= @job.start_of_timespan %>
</p>

<p>
  <b>Fertig bis spätestens:</b>
  <%= @job.end_of_timespan %>
</p>


<%= link_to 'Bearbeiten', edit_device_job_path(@device) %>