<p id="notice"><%= notice %></p>

<p>
  <b>Gerät:</b>
  <%= @job.device_id %>
</p>

<p>
  <b>Auftraggeber:</b>
  <%= @job.user_id %>
</p>

<p>
  <b>Programm:</b>
  <%= @job.program_id %>
</p>

<p>
  <b>Status:</b>
  <%= @job.finished %>
</p>

<p>
  <b>Auftrag eingestellt:</b>
  <%= @job.start_of_timespan %>
</p>

<p>
  <b>Fertig bis spätestens:</b>
  <%= @job.end_of_timespan %>
</p>


<%= link_to 'Bearbeiten', edit_job_path(@job) %> |
<%= link_to 'Zurück', jobs_path %>
