<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @program.name %>
</p>

<p>
  <b>Degree:</b>
  <%= @program.degree %>
</p>

<p>
  <b>Duration in min:</b>
  <%= @program.duration_in_min %>
</p>

<p>
  <b>Consumption in wh:</b>
  <%= @program.consumption_in_wh %>
</p>


<%= link_to 'Edit', edit_program_path(@program) %> |
<%= link_to 'Back', programs_path %>
