<p id="notice"><%= notice %></p>
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Gruppe:</b>
  <%= @user.group_id %>
</p>

<p>
  <b>Beschreibung:</b>
  <%= @user.description %>
</p>

<div class="span8">
<% if @user.groups.any? %>
<h3>Microposts (<%= @user.groups.count %>)</h3>
<ol class="groups">
<%= render @groups %>
</ol>
<%= will paginate @groups %>
<% end %>
</div>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
