<p id="notice"><%= notice %></p>
<div class="row">
  <aside class="span4">
    <section>
      	<h1> <b>Name:	</b><%= @user.name %> </h1>
		<h1> <b>Email:	</b><%= @user.email %> </h1>
		<h1> <b>Gruppe:	</b><%= @user.group_id %> </h1>
		<h1> <b>Beschreibung:	</b><%= @user.description %> </h1>
	</section>
</aside>
</div>

</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
